.form-signin{
  max-width: 400px;
  width: 100%;
}

.product-select{
  height: 35px;
  border-top-right-radius: 0rem ;
  border-bottom-right-radius: 0rem ;
  border-top-left-radius: 0rem ;
  border-bottom-left-radius: 0rem ;
}